body {
    background: rgb(216, 215, 215);
    font: normal 15pt Arial;
}
section{ 
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 700px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.367);
    text-align: center;
    margin-top: 28px;
}
img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
div {
    text-align: center;
    padding: 8px; 
}
h1{
    color: rgb(194, 192, 192);
}
button{
    background-color: rgb(194, 192, 192);
    color: white;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    width: 100px;
    height: 45px;
    font-size: 12pt;
}
button:hover{
    background-color: rgb(171, 169, 169);
}
